/* Стили "Подвала" */
footer{
    width: 100%;
    padding: 20px 0px;
}

footer h1{
    font-family: 'BerlinTypeBold';
    font-size: 30px;
    margin: 10px;
}

.footer-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-content img{
    height: 80px;
    margin: 10px;
}

footer span{
    font-family: 'Concrete';
    display: block;
    text-align: center;
}